# --- GODOT 4 ---
.godot/
.import/
export/
android/
ios/

# --- C# / .NET ---
.mono/
data_*/
mono_crash.*
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
bin/
obj/

# --- SISTEMA / EDITORES ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- BACKUPS / TEMPORALES ---
*.tmp
*.log
*.bak
